* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    font-family: var(--pops);
}

:root {
    --pops: "Poppins", sans-serif;
    --nuns: "Nunito", sans-serif;
    --monts: "Montserrat", sans-serif;
}

.section {
    min-height: 30vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.sect-header-div {
    width: 100%;
    text-align: center;
}

.sect-header {
    font-size: 1.8em;
    letter-spacing: 1px;
    font-weight: 500;
    color: gainsboro;
}

/* LANDING PAGE SECTION */

#landing-section {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

header nav ul li a {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;

}

.main-content, .mc-child{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mc-child {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-header {
    font-size: 5em;
    letter-spacing: 2px;
    font-weight: 500;
}

.hero-sub-header {
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 300
}

/* LANDING PAGE SECTION */

/* ABOUT US SECTION */

#about-us-section {
    gap: 1em;
}

#about-us-section .sect-header-div {
    width: 100%;
    text-align: left;
}

.abo-parent {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}

.abo-parent .abo-child {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    border: 2px solid black;
    padding: 2rem 1rem;
}

.abo-img-div, .about-us-content {
    width: 100%;
}

.about-us-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.about-us-paragraph {
    font-size: 1.1em;
    letter-spacing: .5px;
    font-weight: 300;
    color: #545454;
    width: 600px;
    text-align: justify;
}

/* ABUT US SECTION */

/* DIRECTIONS SECTION */



/* DIRECTIONS SECTION */