* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    font-family: var(--pops);
}

:root {
    --pops: "Poppins", sans-serif;
    --nuns: "Nunito", sans-serif;
    --monts: "Montserrat", sans-serif;
}

.section {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.sect-header-div {
    width: 100%;
    text-align: center;
}

.sect-header {
    font-size: 1.8em;
    letter-spacing: 1px;
    font-weight: 500;
    color: gainsboro;
}

/* LANDING PAGE SECTION */

#landing-section {
    height: 100vh;
    background-image: url("/photo-and-Icons/landingpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-section .section {
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

header nav ul li a {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
}

.main-content, .mc-child{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mc-child {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-header {
    font-size: 5em;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
}

.hero-sub-header {
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 300;
    color: white;
}

/* LANDING PAGE SECTION */

/* ABOUT US SECTION */

#about-us-section {
    gap: 1em;
}

#about-us-section .sect-header-div {
    width: 100%;
    text-align: left;
}

.abo-parent {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}

.abo-parent .abo-child {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    padding: 2rem 1rem;
}

.abo-parent .abo-child:last-child {
    flex-direction: row-reverse;
}

.abo-img-div, .about-us-content {
    width: 100%;
    height: 100%;
}

.abo-child .abo-img-div:first-child {
    background-image: url("/photo-and-Icons/abo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid transparent;
    border-radius: 10px;
    height: 500px;
}

.abo-child .abo-img-div:last-child {
    background-image: url("/photo-and-Icons/abo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    border-radius: 10px;
    height: 500px;
}

.about-us-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.about-us-paragraph {
    font-size: 1.1em;
    letter-spacing: .5px;
    font-weight: 300;
    color: #545454;
    width: 600px;
    text-align: justify;
}

/* ABUT US SECTION */

/* DIRECTIONS SECTION */

.modal-parent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.modal {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .9rem;
}

.modal-img {
    height: 100%;
    width: 100%;
}

#directions-section .modal:first-child .modal-img {
    background-image: url("/photo-and-Icons/pose1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid transparent;
    background-position: center top;
    border-radius: 10px;
}

#directions-section .modal:nth-child(2) .modal-img {
    background-image: url("/photo-and-Icons/pose2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid transparent;
    background-position: center top;
    border-radius: 10px;
}

#directions-section .modal:last-child .modal-img {
    background-image: url("/photo-and-Icons/pose3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid transparent;
    background-position: center top;
    border-radius: 10px;
}

.modal-details {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem
}

.modal-title {
    font-size: 1.3em;
    font-weight: 500;
}
/* DIRECTIONS SECTION */

/* INSTRUCTOR SECTION */

#instructors-section .modal:first-child .modal-img {
    background-image: url("/photo-and-Icons/Instructor1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid transparent;
    background-position: center center;
    border-radius: 10px;
}

#instructors-section .modal:nth-child(2) .modal-img {
    background-image: url("/photo-and-Icons/Instructor2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid transparent;
    background-position: center top;
    border-radius: 10px;
}

#instructors-section .modal:last-child .modal-img {
    background-image: url("/photo-and-Icons/Instructor3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid transparent;
    background-position: center top;
    border-radius: 10px;
}

/* INSTRUCTOR SECTION */

/* PRICE SECTION */

.modal-price-div {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #eaeaea
}

.modal-price-div .modal-details {
    width: 100%;
    align-items: center;
}

.modal-price-div .modal-details .modal-price {
    font-size: 1.2em;
    font-weight: 500;
}

#price-plan-section .modal-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 3 */
.modal-price-div button {
  margin: 20px;
}
.custom-btn {
  width: 200px;
  height: 80px;
  color: rgb(2, 102, 251);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-family: var(--nuns);
  font-weight: 400;
}
.btn-3 {
    background: rgb(255, 255, 255);
    width: 200px;
    height: 80px;
    line-height: 42px;
    padding: 0;
    border: none;
  }

  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }

/* FOOTER SECTION */

footer {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    border: 0 solid transparent;
    border-radius: 16px 16px 0 0;
}

footer .sect-header-div {
    width: 100%;
    text-align: left;
}

footer .div-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 5rem;
    gap: 2rem;
}

.div-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inner-header {
    font-size: 1.6em;
    letter-spacing: 1px;
    font-weight: 500;
    color: #161616;
}

.footer-link {
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #4C4C4C;
}

/* FOOTER SECTION */

@media (max-width: 1000px) {
    .section {
        padding: 1rem;
        gap: 1rem;
    }
    /* LANDING PAGE SECTION */

    #landing-section {
        height: 70vh;
        background-position: center center;
        padding: 0px;
    }

    header {
        padding: 1rem 1.5rem;
    }

    .brand-logo {
        width: 90px;
    }

    nav {
        display: none;
    }

    .mc-child {
        gap: .5rem;
    }
    
    .hero-header {
        font-size: 2.5em;
        letter-spacing: 2px;
        font-weight: 600;
        color: white;
    }
    
    .hero-sub-header {
        font-size: 1.5em;
        letter-spacing: 2px;
        font-weight: 300;
        color: white;
    }

    /* LANDING PAGE SECTION */

    /* ABOUT US SECTION */

    #about-us-section {
        gap: 1em;
    }

    #about-us-section .sect-header-div {
        text-align: center;
    }

    .abo-parent {
        display: flex;
        gap: 1rem;
    }

    .abo-parent .abo-child {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }

    .abo-child .abo-img-div {
        background-repeat: no-repeat;
        background-size: cover;
        border: 0 solid transparent;
        border-radius: 10px;
        height: 400px;
    }

    .abo-child .abo-img-div:first-child {
        background-image: url("/photo-and-Icons/abo1.jpg");
    }

    .abo-child .abo-img-div:last-child {
        background-image: url("/photo-and-Icons/abo5.jpg");
        background-position: center top;
    }

    .abo-parent .abo-child:last-child {
        flex-direction: column;
    }

    .about-us-paragraph {
        font-size: .9em;
        text-align: left;
        width: 100%;
    }

    /* ABUT US SECTION */

    /* FOOTER SECTION */

    footer {
        padding: 1rem;
        gap: 1rem;
    }

    footer .div-parent {
        gap: 1rem;
    }

    .div-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .inner-header {
        font-size: 1.3em;
    }

    .footer-link {
        font-size: 1em;
    }

    /* FOOTER SECTION */
}